/.buildpath
/.project
/.settings/
**/config.inc.php

/plugins/annuaire
/plugins/bounce
/plugins/calendar
/plugins/contextmenu
/plugins/csv_export
/plugins/electron
/plugins/jquery_mobile
/plugins/libcalendaring
/plugins/libkolab
/plugins/mel
/plugins/mel_*
/plugins/pdfviewer
/plugins/removeattachments
/plugins/right_panel
/plugins/rocket_chat
/plugins/roundpad
/plugins/roundrive
/plugins/tasklist

/skins/mel_*
/skins/melanie2_*
plugins/electron
plugins/libkolab
skins/melanie2_larry
